.song-info {
	background: #fef4ea;
	width: 100%;
	height: 241px;
	position: relative;
}

.song-info-bg {
	background: url('https://i1.sndcdn.com/artworks-000246862967-g7h6id-t500x500.jpg') bottom / cover
		no-repeat;
	width: inherit;
	height: inherit;
	filter: blur(32px);
	opacity: 0.24;
	position: absolute;
	overflow: hidden;
}
.song-info-bg::before {
	width: 100%;
}

.song-info-container-top {
	padding: 32px;
	padding-bottom: 12px;
	display: flex;
	justify-content: flex-start;
}

.song-info-flex {
	width: 132px;
	height: 132px;
}
.cover-img {
	width: 132px;
	height: 132px;
	z-index: 3;
	position: relative;
}
.cover-img-blur {
	width: 132px;
	height: 132px;
	left: 32px;
	position: absolute;
	filter: blur(15px);
	opacity: 0.4;
	z-index: 2;
}

.info {
	font-family: Helvetica;
	color: #26107b;
	margin-left: 20px;
}
.info p {
	margin: 5px;
}
.info p:first-child {
	font-size: 20px;
	letter-spacing: -0.25px;
	margin-top: 12px;
}
.info p:nth-child(2) {
	font-size: 12px;
	letter-spacing: -0.15px;
	opacity: 0, 7;
	margin-top: 10px;
}

.song-info-container-bottom {
	margin: 32px;
	margin-top: 12px;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	min-height: 22px;
	position: relative;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 122px;
	padding: 0 5px;
}
.buttons-img {
	width: 12px;
	height: 17px;
	cursor: pointer;
}

.buttons-img:nth-child(2) {
	width: 12px;
	height: 22px;
}
