.song-info {
	background: rgb(254, 244, 234);
	width: 100%;
	height: 241px;
	position: relative;
	overflow: hidden;
}

.song-info-bg {
	background: url('https://i.ytimg.com/vi/4L87BCp26Qg/maxresdefault.jpg');
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: absolute;
	transform: scale(1.1);
	filter: blur(32px);
	opacity: 0.24;
}
.song-info-bg2 {
	background: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	position: absolute;
}

.song-info-container-top {
	padding: 32px;
	padding-bottom: 12px;
	display: flex;
	justify-content: flex-start;
}

.song-info-flex {
	width: 132px;
	height: 132px;
}
.cover-img {
	width: 132px;
	height: 132px;
	z-index: 4;
	position: relative;
}
.cover-img-blur {
	width: 132px;
	height: 132px;
	left: 32px;
	position: absolute;
	filter: blur(15px);
	opacity: 0.6;
	z-index: 3;
}

.info {
	font-family: Helvetica;
	color: #26107b;
	margin-left: 20px;
	z-index: 0;
}
.info p {
	margin: 5px;
}
.info p:first-child {
	font-size: 20px;
	letter-spacing: -0.25px;
	margin-top: 12px;
}
.info p:nth-child(2) {
	font-size: 12px;
	letter-spacing: -0.15px;
	opacity: 0, 7;
	margin-top: 10px;
}

.song-info-container-bottom {
	margin: 32px;
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	min-height: 22px;
	position: relative;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 122px;
	padding: 0 5px;
}
.buttons-img {
	width: 12px;
	height: 17px;
	cursor: pointer;
}

.buttons-img:nth-child(2) {
	width: 15px;
	height: 22px;
}

/*.song-timeline {
	width: 61%;
	max-width: 300px;
	height: 16px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}
.timeline {
	max-width: 192px;
	width: 100%;
	height: 3px;
	background-color: rgb(55, 32, 135, 0.2);
	border-radius: 2px;
}
.timeline-pointer {
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: rgba(38, 16, 123);
	border-radius: 50%;
}*/

.start-time,
.end-time {
	font-size: 10px;
	opacity: 0.7;
	color: #26107b;
	display: flex;
	align-items: center;
	margin-bottom: 1px;
}
.start-time {
	margin-right: 15px;
}
.end-time {
	margin-left: 15px;
}
